<html>
    <h1><marque>Day1</marque></h1>
    <body bg colour = "red"></body>
    </html>

In [ ]:
age = input("enter your name")

In [ ]:
a

In [ ]:
type(age)

In [ ]:
name = "Dinesh"

In [ ]:
name

In [ ]:
type(name)

In [ ]:
flag = True

In [ ]:
type(flag)

In [ ]:
age=19
discount = 0

temp = bool(age)

In [ ]:
temp

In [ ]:
text = "GREAT LEARNING"

In [ ]:
text[:5]

In [ ]:
text =  "Apple a day"

In [ ]:
text.lower()

In [ ]:
text.capitalize()

In [ ]:
text.upper()

In [ ]:
text.split()

In [ ]:
stm = text.split()

In [ ]:
stm[1]

In [ ]:
text = "I love Oranges"
# is string is upper case
text[7].isupper()

In [2]:
text = "The price is 250"
#add 100 to the price
new_text = text[13:]

In [3]:
new_text

'250'

In [4]:
new_text = int(new_text)

In [5]:
new_text = new_text+100
new_text

350

In [1]:
age =  input("Enter your age")
age  = int(age)
if(age < 20):
    print("The fare is $20")
else:
    print("The fare is $30")

Enter your age35
The fare is $30

In [2]:
# variable initialization
#condition
#counter or increment


#print to hundred
x=0

while(x<100):
    print(x)
    x=x+1

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99

In [ ]:
#isnumeric
#isalpha
#isdigit
#isdecimal

In [6]:
text="A6BCD7FT9"
st = ""
for i in text:
    if(i.isdigit()):
        print(i)
        st = st+i
print(st)

6
7
9
679

In [7]:
st = int(st)
st =

52.23076923076923

In [8]:
fruit=["apple","orange","bannan","lemon"]

In [10]:
for i in fruit:
    print(i)

apple
orange
bannan
lemon

In [12]:
fruit.sort()

In [14]:
age=[6,8,3,9,5,7,8]

In [15]:
age.sort()

In [16]:
age

[3, 5, 6, 7, 8, 8, 9]

In [17]:
age.sort(reverse=True)

In [18]:
age

[9, 8, 8, 7, 6, 5, 3]

In [19]:
prices=[10,20,30,40,50]

In [20]:
prices.append(60)

In [21]:
prices

[10, 20, 30, 40, 50, 60]

In [23]:
prices.insert(1,15)

In [24]:
prices

[10, 15, 20, 30, 40, 50, 60]

In [31]:
#create a new list to 10oecent to list
Prices=[100,200,300,400]
new_prices=[]
for i in Prices:
    
    new_prices.append(i+i/10)
print(new_prices)

[110.0, 220.0, 330.0, 440.0]

In [ ]:
price.pop(2)