# DAY2

In [6]:
Text=[10,20,30,40]
Lenh = len(Text)
Lenh

4

In [7]:
min(Text)

10

In [8]:
max(Text)

40

In [9]:
del Text

In [10]:
Text

NameError: name 'Text' is not defined

In [11]:
#Considerthe giben list of list
prices=[[20,30],[40,50],[60,70],[80,90]]
#Convert the list
#[20,30,40,50,60,70,80,90]

prices2=[]


for i in prices:
    prices2.append(i[0])
    prices2.append(i[1])

In [12]:
prices2

[20, 30, 40, 50, 60, 70, 80, 90]

In [13]:
new=[]
for i in prices:
    new = new +i
print(new)

[20, 30, 40, 50, 60, 70, 80, 90]

In [18]:
#Consider the given list;
items=[["Apples",35],[45,"oranges"],["Kiwi","avo",56]]

#Create the below list
#[35,,45,56]
#hint isinstance()


newint=[]
newint1=[]
for i in items:
    newint = newint+i


for i in newint:
    x=isinstance(i,int)
    if (x==True):
      newint1.append(i)

In [19]:
print(newint1)

[35, 45, 56]

In [ ]:
#Tuple is non - Editale
i_prices(11,33,11,77,88)

In [23]:
k_Prices= (10,20,30,45,18,17)

k_Prices[1:4]

(20, 30, 45)

In [24]:


k_Prices[-1]

17

In [25]:
k_Prices[-4:-2]

(30, 45)

In [27]:
#Tuples of Tuples
Items=(("A",56),("B",34),("c",45))
for i in Items:
    print(i)

('A', 56)
('B', 34)
('c', 45)

In [28]:
prices=[10,20]
t_prices=tuple(prices)
type(t_prices)

tuple

In [69]:
#zconsider the given list
#[(45,90),(10,35),(45,65),(55,55)]


#Genratae the below 

D_list = [(45,90),(10,35),(45,65),(55,55)]
#d_tap =[]

In [72]:
for i in D_list:
    print(i[0]+ i[1])
    d_tap =d_tap +  list(i)
    print(d_tap)
    #sum = i[0]+ i[1]
    d_tap.append((i[0],i[1],i[0]+ i[1]))
d_tap

135
[55, 55, (55, 55, 110), 45, 90]
45
[55, 55, (55, 55, 110), 45, 90, (45, 90, 135), 10, 35]
110
[55, 55, (55, 55, 110), 45, 90, (45, 90, 135), 10, 35, (10, 35, 45), 45, 65]
110
[55, 55, (55, 55, 110), 45, 90, (45, 90, 135), 10, 35, (10, 35, 45), 45, 65, (45, 65, 110), 55, 55]

[55,
 55,
 (55, 55, 110),
 45,
 90,
 (45, 90, 135),
 10,
 35,
 (10, 35, 45),
 45,
 65,
 (45, 65, 110),
 55,
 55,
 (55, 55, 110)]

In [74]:
prices ={10,20,30}
type(prices)

set

In [75]:
#use the set function to convert the list
#print nbot list and set
#write  your obsersion


prices=[11,22,22,33,44,11,55,55,46]

C_set = set(prices)

In [77]:
print(C_set)
print(prices)

{33, 11, 44, 46, 22, 55}
[11, 22, 22, 33, 44, 11, 55, 55, 46]

In [78]:
a={10,20,30,40,50,60}
b={11,22,33,40,44,50,55,66}

In [80]:
a.union(b)

{10, 11, 20, 22, 30, 33, 40, 44, 50, 55, 60, 66}

In [81]:
a.intersection(b)

{40, 50}

In [84]:
a.difference(b)

{10, 20, 30, 60}

In [85]:
b.difference(a)

{11, 22, 33, 44, 55, 66}

In [86]:
a.remove(35)

KeyError: 35

In [2]:
#consider the dtring
t_text = "ABRACADABRA"

l_list = set(t_text)
l_list

m_list = [ch for ch in t_text]
n_list = list(t_text)

In [3]:
m_list

['A', 'B', 'R', 'A', 'C', 'A', 'D', 'A', 'B', 'R', 'A']

In [4]:
n_list

['A', 'B', 'R', 'A', 'C', 'A', 'D', 'A', 'B', 'R', 'A']

In [5]:
l_list

{'A', 'B', 'C', 'D', 'R'}

In [7]:
#print(t_text)
new_text = ""
for i in t_text:
    if i not in  t_text:
        new_text = new_text +i
print(t_text)

ABRACADABRA

In [8]:
#create a dictonary with curly brackets

products = {"Apples":100,"Oranges":75,"kiwi":350}

In [9]:
type(products)

dict

type created slised 
list  []        []
string ""        []
tuple  ()        []
sets {}          not possible
Dictionary {k:v}   [k]

<html>
<marquee>A scrolling text created with HTML Marquee element.</marquee>
</html>

items={}

In [ ]:
a= dict()
b=list()
c= set()
d=tuple()

In [11]:
emp={1:"john","Age":26,"salary":10000,"Gender":"Male"}

In [12]:
emp.values()

dict_values(['john', 26, 10000, 'Male'])

In [13]:
emp.keys()

dict_keys([1, 'Age', 'salary', 'Gender'])

In [14]:
list(emp.items())

[(1, 'john'), ('Age', 26), ('salary', 10000), ('Gender', 'Male')]

In [15]:
emp["location"] = "Chennai"

In [16]:
emp

{1: 'john',
 'Age': 26,
 'salary': 10000,
 'Gender': 'Male',
 'location': 'Chennai'}

In [17]:
del emp["Age"]

In [19]:
emp

{1: 'john', 'salary': 10000, 'Gender': 'Male', 'location': 'Chennai'}

In [24]:
for i in emp.values():
    print(i)

john
10000
Male
Chennai

In [29]:
for w in emp.items():
    print(w)

(1, 'john')
('salary', 10000)
('Gender', 'Male')
('location', 'Chennai')

In [28]:
emp

{1: 'john', 'salary': 10000, 'Gender': 'Male', 'location': 'Chennai'}

In [32]:
for k,v in emp.items():
    print(k,v)

1 john
salary 10000
Gender Male
location Chennai

in -class

In [47]:
#consider the below text
# I feel happy I feel healthy I feel terrific"

str="I feel happy I feel healthy I feel terrific"
store = dict()
new_str = str.split()

for i in new_str:
    count = 0
    if (i in new_str):
        count = count+1
    store[i] = count

In [48]:
store

{'I': 1, 'feel': 1, 'happy': 1, 'healthy': 1, 'terrific': 1}

In [50]:
new={}
for i in new_str:
    if i not in new.keys():
        new[i]=1
    else:
        new[i] =new[i]+1
new

{'I': 3, 'feel': 3, 'happy': 1, 'healthy': 1, 'terrific': 1}

In [52]:
#consider the below to lists:

items=["pen","Pencil","book","ruler"]
prices= [100,200,345,187]

##create a dictionary with keys from item list and values form prices
#expected:["Pen":100, "Pencil":200.....]


blank_dic = {}


for i in range(len(items)):
    blank_dic[items[i]] = prices[i]
blank_dic

{'pen': 100, 'Pencil': 200, 'book': 345, 'ruler': 187}

# Pairing with ZIP()

In [74]:
items=["A","B","C"]
prices=[10,20,30]
Discount=[1,2,3]
list(zip(items,prices))

[('A', 10), ('B', 20), ('C', 30)]

In [75]:
dict(zip(items,prices))

{'A': 10, 'B': 20, 'C': 30}

In [77]:
list(zip(items,prices,Discount))

[('A', 10, 1), ('B', 20, 2), ('C', 30, 3)]

In [78]:
states = {"TN":{"capital":"CHN","temp":33},"MH":{"capital":"MUM","temp":29},"KA":{"capital":"BLR","temp":23}}

In [79]:
states["MH"]["temp"]

29