In [7]:
import pandas as pd

Data = pd.DataFrame({'price':[95, 25, 85, 41, 78],

                     'ticker':['AXP', 'CSCO', 'DIS', 'MSFT', 'WMT'],

                     'company':['American Express', 'Cisco', 'Walt Disney','Microsoft', 'Walmart']})

Data

   price ticker           company
0     95    AXP  American Express
1     25   CSCO             Cisco
2     85    DIS       Walt Disney
3     41   MSFT         Microsoft
4     78    WMT           Walmart